[Desktop Entry]
Version=1.0
Name=bitphantom Core
Comment=Connect to the bitphantom P2P Network
Comment[de]=Verbinde mit dem bitphantom peer-to-peer Netzwerk
Comment[fr]=bitphantom, monnaie virtuelle cryptographique pair à pair
Comment[tr]=bitphantom, eşten eşe kriptografik sanal para birimi
Exec=bitphantom-qt %u
Terminal=false
Type=Application
Icon=bitphantom128
MimeType=x-scheme-handler/bitphantom;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=bitphantom-qt
