policy_module(bitphantom, 1.100.1)

########################################
#
# Declarations
#

type bitphantom_t;
type bitphantom_exec_t;
init_daemon_domain(bitphantom_t, bitphantom_exec_t)

permissive bitphantom_t;

type bitphantom_initrc_exec_t;
init_script_file(bitphantom_initrc_exec_t)

type bitphantom_conf_t;
files_type(bitphantom_conf_t)

type bitphantom_var_lib_t;
files_type(bitphantom_var_lib_t)

type bitphantom_var_run_t;
files_type(bitphantom_var_run_t)

type bitphantom_port_t;
corenet_port(bitphantom_port_t)

########################################
#
# bitphantom local policy
#
allow bitphantom_t self:process { fork };

allow bitphantom_t self:fifo_file rw_fifo_file_perms;
allow bitphantom_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bitphantom_t, bitphantom_conf_t, bitphantom_conf_t)
manage_files_pattern(bitphantom_t, bitphantom_conf_t, bitphantom_conf_t)

manage_dirs_pattern(bitphantom_t, bitphantom_var_lib_t, bitphantom_var_lib_t)
manage_files_pattern(bitphantom_t, bitphantom_var_lib_t, bitphantom_var_lib_t)
files_var_lib_filetrans(bitphantom_t, bitphantom_var_lib_t, { dir file })

manage_dirs_pattern(bitphantom_t, bitphantom_var_run_t, bitphantom_var_run_t)
manage_files_pattern(bitphantom_t, bitphantom_var_run_t, bitphantom_var_run_t)

sysnet_dns_name_resolve(bitphantom_t)
corenet_all_recvfrom_unlabeled(bitphantom_t)

allow bitphantom_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(bitphantom_t)
corenet_tcp_sendrecv_generic_node(bitphantom_t)
corenet_tcp_sendrecv_all_ports(bitphantom_t)
corenet_tcp_bind_generic_node(bitphantom_t)

gen_require(`
    type bitphantom_port_t;
')
allow bitphantom_t bitphantom_port_t:tcp_socket name_bind;

gen_require(`
    type bitphantom_port_t;
')
allow bitphantom_t bitphantom_port_t:tcp_socket name_connect;

domain_use_interactive_fds(bitphantom_t)

files_read_etc_files(bitphantom_t)

miscfiles_read_localization(bitphantom_t)

sysnet_dns_name_resolve(bitphantom_t)

allow bitphantom_t bitphantom_exec_t:file execute_no_trans;
allow bitphantom_t self:process setsched;
corecmd_exec_ls(bitphantom_t)
corenet_tcp_connect_http_port(bitphantom_t)
dev_read_urand(bitphantom_t)
fs_getattr_xattr_fs(bitphantom_t)
kernel_read_system_state(bitphantom_t)
